# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.DS_Store

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### maven ###
mvnw
mvnw.cmd
