<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.risunking.resource.dao.ArticlesDao">

    <select id="articleList" parameterType="com.wzy.risunking.resource.entity.ArticleSearchIn" resultType="com.wzy.risunking.resource.entity.ArticleInfo">
        SELECT * FROM (SELECT a.resource_id id,a.resource_desc 'desc',a.resource_href url,a.resource_name title,
        a.resource_path path,a.resource_owner author,a.expand readNum,GROUP_CONCAT(c.tag_name) tags,
        GROUP_CONCAT(c.tag_code) tagCodes FROM risunking.resource a
        LEFT JOIN risunking.resource_to_tags b ON b.resource_id=a.resource_id
        LEFT JOIN risunking.tags c ON c.tag_code = b.tag_code WHERE 1=1
        <if test='articleSearchIn.startDate != null and articleSearchIn.startDate != ""'>
            AND a.create_date BETWEEN #{articleSearchIn.startDate} AND #{articleSearchIn.endDate}
        </if>
        <if test='articleSearchIn.title != null and articleSearchIn.title != ""'>
            AND a.resource_name LIKE #{articleSearchIn.title}
        </if>
        <if test='articleSearchIn.author != null and articleSearchIn.author != ""'>
            AND a.resource_owner = #{articleSearchIn.author}
        </if>
        GROUP BY a.resource_id
        ORDER BY a.update_date) d WHERE 1=1
        <if test='articleSearchIn.tag != null and articleSearchIn.tag != ""'>
            AND FIND_IN_SET(#{articleSearchIn.tag},d.tagCodes)>0
        </if>
        LIMIT #{articleSearchIn.from},#{articleSearchIn.size}
    </select>

    <insert id="articleAdd" parameterType="com.wzy.risunking.resource.entity.ArticleInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO risunking.resource
        (`resource_name`, `resource_type`, `resource_path`, `resource_href`, `resource_owner`, `resource_desc`, `expand`)
        VALUES
        (#{articleInfo.title}, '00', #{articleInfo.path}, #{articleInfo.url}, 1, #{articleInfo.desc}, '0')
    </insert>

    <update id="articleUpdate" parameterType="com.wzy.risunking.resource.entity.ArticleInfo">
        UPDATE risunking.resource SET `update_date` = CURRENT_TIMESTAMP
        <if test='articleInfo.title != null and articleInfo.title != ""'>
            , `resource_name` = #{articleInfo.title}
        </if>
        <if test='articleInfo.path != null'>
            , `resource_path` = #{articleInfo.path}
        </if>
        <if test='articleInfo.url != null'>
            , `resource_href` = #{articleInfo.url}
        </if>
        <if test='articleInfo.desc != null and articleInfo.desc != ""'>
            , `resource_desc` = #{articleInfo.desc}
        </if>
        WHERE `resource_id` = #{articleInfo.id}
    </update>

    <update id="articleUpdateReadNum" parameterType="com.wzy.risunking.resource.entity.ArticleInfo">
        UPDATE risunking.resource SET `expand` = (`expand` + 1) WHERE `resource_id` = #{articleInfo.id}
    </update>

    <delete id="articleDelete" parameterType="com.wzy.risunking.resource.entity.ArticleInfo">
        DELETE FROM risunking.resource WHERE `resource_id` = #{articleInfo.id}
    </delete>

    <insert id="articleToResourceAdd">
        INSERT INTO risunking.resource_to_tags (`resource_id`,`tag_code`) values
        <foreach collection="tagCodes" item="tagCode" separator=",">
            (#{articleId}, #{tagCode})
        </foreach>
    </insert>

    <delete id="articleToResourceDelete" parameterType="com.wzy.risunking.resource.entity.ArticleInfo">
        DELETE FROM risunking.resource_to_tags WHERE `resource_id` = #{articleInfo.id}
    </delete>
</mapper>
